@model List<string>

<div class="jobSkills">
    @if (Model != null || Model?.Count > 0)
    {
        @foreach (var skill in Model)
        {
            <span class="badge badge-pill mb-2 skill">@skill</span>
        }
    }
</div>
