@{

    @using Humanizer
    ViewData["Title"] = "All Jobs";
    var details = ViewData["details"] as Tuple<FreelanceMarketPlace.Models.Entities.Job, FreelanceMarketPlace.Models.Entities.Client, FreelanceMarketPlace.Models.Entities.Users>;
    string statusClass = details?.Item1?.JobStatus switch
    {
        "open" => "text-success",
        "in progress" => "text-warning",
        _ => "text-danger"
    };
}

<div class="container mt-4">
    <div class="row">
        <!-- Main Content Section -->
        <div class="col-md-8">
            <h1 class="mb-3 limited-text text-capitalize">@details?.Item1?.JobDescription</h1>
            <p class="text-muted">Posted @(@details?.Item1?.CreatedOn.Humanize()) <strong class="m-3"> <i class="fa-solid fa-globe"></i> Worldwide</strong></p>
            <hr />


            <p>@details?.Item1?.JobDescription</p>

            <div class="card mb-4">

                <div class="p-0 card-body">
                    <h5 class="card-title">Skills and Expertise</h5>
                    <div class="jobSkills">
                        @if (@details?.Item1?.Skills != null )
                        {
                            @foreach (var skill in @details?.Item1?.Skills)
                            {
                                <span class="badge badge-pill mb-2 skill">@skill</span>
                            }
                        }

                        @if (@details?.Item1?.Skills.Count == 0)
                       
                        {
                            <p>No Skills Required For this Job</p>
                        }


                    </div>
                </div>
            </div>


            <div class="card mb-4">

                <div class="p-0 card-body">
                    <h5 class="card-title">Activity on this job</h5>
                    <p>Proposals : <span>5</span></p>
                </div>
            </div>

            <div class="card mb-4">

                <div class="p-0 card-body">
                    <h5 class="card-title">About The Client</h5>
                    <p class="text-secondary">Member since 2023</p>
                    <div class="d-flex gap-4">
                        <div class="mb-2">
                            <p class="fw-bold m-0 p-0">Pakistan</p>
                            <p class="m-0 p-0">Lahore</p>
                        </div>
                        <div class="mb-2">
                            <p class="fw-bold m-0 p-0">27 jobs posted</p>
                            <p class="m-0 p-0">46% hire rate, 1 open job</p>

                        </div>

                        <div class="mb-2">
                            <p class="fw-bold m-0 p-0">$@details?.Item2?.AmountSpent total spent</p>
                            <p class="m-0 p-0">27 hires, 3 active</p>
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <!-- Sidebar Section -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Job Details</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-capitalize"><strong>Budget:</strong> $@details?.Item1?.JobBudget</li>
                        <li class="list-group-item text-capitalize"><strong>Experience Level:</strong> @details?.Item1?.JobLevel</li>
                        <li class="list-group-item text-capitalize"><strong>Location:</strong> Worldwide</li>
                        <li class="list-group-item text-capitalize"><strong>Project Type:</strong> One-time project</li>
                        <li class="list-group-item text-capitalize"><strong>Job Type:</strong> Remote Job</li>
                        <li class="list-group-item text-capitalize">
                            <strong>Job Status:</strong> 
                            <span class="@statusClass fw-bold">@details?.Item1?.JobStatus</span>
                            
                            
                        </li>
                    </ul>
                </div>
                @if (@details?.Item1?.JobStatus == "open"){
                    <a href="/SendProposal/@details?.Item1?.JobId" class="btn btn-success btn-sm mx-5">Send Proposal</a>
                }
               
                
            </div>
           
            
        </div>
    </div>
</div>