@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Path to your layout file
    ViewData["Title"] = "All Jobs";
    var jobs = ViewData["jobs"] as List<FreelanceMarketPlace.Models.Entities.Job>;
    ViewBag.NoDataMessage = "No Jobs available!";
}


<div class="container mt-4">
    <h1 class="mb-4 text-center">@ViewData["Title"] </h1>

    @if (jobs != null)
    {
        <partial name="_AllJobs" model="@jobs" />
    }
    else
    {
        <partial name="_NoDataAlert" />
    }
</div>
