@model FreelanceMarketPlace.Models.Entities.Job
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Path to your layout file
    ViewData["Title"] = "Add Job";
}

<h2 class="text-center">Add Job</h2>

<form method="post" action="/Job/CreateJob" class="mt-4">
    <div class="form-group">
        <label asp-for="JobDescription" class="form-label">Job Description</label>
        <textarea asp-for="JobDescription" class="form-control" rows="3" placeholder="Enter job description"></textarea>
        <span asp-validation-for="JobDescription" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="JobBudget" class="form-label">Job Budget</label>
        <input asp-for="JobBudget" step=".01" type="number" class="form-control" placeholder="Enter job budget">
        <span asp-validation-for="JobBudget" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="JobLevel" class="form-label">Job Level</label>
        <select asp-for="JobLevel" class="form-select">
            <option value="">Select level</option>
            <option value="master">Master</option>
            <option value="intermediate">Intermediate</option>
            <option value="entry">Entry</option>
        </select>
        <span asp-validation-for="JobLevel" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="CompletionTime" class="form-label">Completion Time</label>
        <input asp-for="CompletionTime" type="text" class="form-control" placeholder="Enter completion time (e.g., 2 weeks)">
        <span asp-validation-for="CompletionTime" class="text-danger"></span>
    </div>

    <div class="input-group mt-3">
        
        <input class="form-control mr-sm-2" id="skillInput" placeholder="Add Upto 10 Skills" aria-label="Search" name="searchQuery" />
        <div class="input-group-append">
            <button class="btn btn-success my-2 my-sm-0 addSkillButton">Add</button>
        </div>
    </div>
    <span class="text-danger emptySkill"></span>

    <div id="skillList" class="mt-3">
        <!-- Skills will be added here -->
    </div>

    <input type="hidden" id="skillsInput" asp-for="Skills" />

    

    <button type="submit" class="btn btn-primary mt-4">Add Job</button>
</form>