
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Path to your layout file
    ViewData["Title"] = "All Jobs";
    var jobs = ViewData["jobs"] as List<FreelanceMarketPlace.Models.Entities.Job>;
    ViewBag.NoDataMessage = "No Jobs posted!";
}


<div class="container mt-4">
    <h1 class="mb-4 text-center">@ViewData["Title"] </h1>

    @if (jobs != null && jobs?.Count > 0)
    {
        <partial name="_AllJobs" model="@jobs" />
    }
    else
    {
        <partial name="_NoDataAlert" />
    }
</div>

<script>


    function deleteJob(jobId) {      
       $.ajax({
            url: '/Job/DeleteJob',
            type: 'DELETE',
            data: {
                jobId: jobId
            },
            success: function (response) {
                alert("Job deleted successfully");
                location.reload()
               
            },
            error: function (error) {
                console.error("Error deleting job: ", error);
            }
        });
    }
</script>
