

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body {
    padding: 1.5rem;
}

.card {
    border-radius: 12px;
    border: none;
}
.limited-text {
    
    white-space: nowrap; /* Prevent the text from wrapping to the next line */
    overflow: hidden; /* Hide the overflowed text */
    text-overflow: ellipsis; /* Show dots (...) when text exceeds the container */
}