

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body {
    padding: 1.5rem;
}

.card {
    border-radius: 12px;
    border: none;
}
.limited-text {
    
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.jobSkills .skill {
    background: rgb(241, 241, 241);
    color: rgb(103, 103, 103);
}

.skill {
    position: relative;
    font-size: initial;
    font-weight: initial;
    border-radius: 15px;
    background: black;
    margin-right: 5px !important;
}

.close-icon{
    
    margin-left:5px;
    cursor:pointer;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
}
.accordion-button {
    padding: 0.75rem 1rem;
    font-size: 0.8rem; /* Increase font size */
}