,avatar-box{
    position:relative;
}

.available-box{
    position:absolute;
    width:14px;
    height:14px;
    bottom:22px;
    right:40px;
    border-radius:100%;
    border:1px solid #fff;
}
.avatar-img{
    width:200px;
    height:200px;
    border:2px solid lightgrey;
    object-fit:contain;
}
